$color-athens-grey: #f1f1f3;
$color-grey: #b5b0b0;
$color-dark-grey: grey;
$color-grey: rgb(181, 176, 176);
$color-white: rgba(255, 255, 255, 1);
$color-red: rgb(255, 0, 0);
$color-error-red: rgb(231, 7, 7);
$color-success: rgb(34, 187, 9);
$color-feedback: rgba(41, 151, 255, .3);
$color-black: rgb(0, 0, 0);
$color-dark-blue: rgb(0, 61, 175);
$color-pink: #ffd1e6;
$color-yellow: #edb50a;
$color-official-and-red: #ff323c;
$color-pale-red: #ffced2;
$color-black: black;
$color-white: rgba(255, 255, 255, 1);
$color-light-blue: rgba(145, 205, 255, 1);
$color-mine-shaft: #323232;
$color-contrast-red: #e62434;
$color-contrast-blue: #0d6efd;
$color-contrast-green: #178935;
